In [59]:
import os
os.chdir('C:\\Users\\M246047\\Documents\\Python')
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.datasets import fetch_openml
%matplotlib inline

from PIL import Image
from matplotlib import image
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [60]:
outbreaks = pd.read_csv('nigeria_outbreaks.csv')
outbreaks = pd.DataFrame(outbreaks)
print(outbreaks.columns)
print(outbreaks.info())

outbreaks.drop(columns=['id', 'gender', 'settlement', 'age_str'], inplace=True)
outbreaks.columns

Index(['id', 'surname', 'firstname', 'middlename', 'gender', 'gender_male',
       'gender_female', 'state', 'settlement', 'rural_settlement',
       'urban_settlement', 'report_date', 'report_year', 'age', 'age_str',
       'date_of_birth', 'child_group', 'adult_group', 'disease', 'cholera',
       'diarrhoea', 'measles', 'viral_haemmorrhaphic_fever', 'meningitis',
       'ebola', 'marburg_virus', 'yellow_fever', 'rubella_mars', 'malaria',
       'serotype', 'NmA', 'NmC', 'NmW', 'health_status', 'alive', 'dead',
       'report_outcome', 'unconfirmed', 'confirmed', 'null_serotype'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 40 columns):
id                            284484 non-null int64
surname                       284484 non-null object
firstname                     284484 non-null object
middlename                    284484 non-null object
gender                        284484 non-null object
gender_male                   284484 non-null int64
gender_female                 284484 non-null int64
state                         284484 non-null object
settlement                    284484 non-null object
rural_settlement              284484 non-null int64
urban_settlement              284484 non-null int64
report_date                   284484 non-null object
report_year                   284484 non-null int64
age                           284484 non-null int64
age_str                       284484 non-null object
date_of_birth                 284484 non-null object
child_group                   284484 non-null int64
adult_group                   284484 non-null int64
disease                       284484 non-null object
cholera                       284484 non-null int64
diarrhoea                     284484 non-null int64
measles                       284484 non-null int64
viral_haemmorrhaphic_fever    284484 non-null int64
meningitis                    284484 non-null int64
ebola                         284484 non-null int64
marburg_virus                 284484 non-null int64
yellow_fever                  284484 non-null int64
rubella_mars                  284484 non-null int64
malaria                       284484 non-null int64
serotype                      284484 non-null object
NmA                           284484 non-null int64
NmC                           284484 non-null int64
NmW                           284484 non-null int64
health_status                 284484 non-null object
alive                         284484 non-null int64
dead                          284484 non-null int64
report_outcome                284484 non-null object
unconfirmed                   284484 non-null int64
confirmed                     284484 non-null int64
null_serotype                 284484 non-null int64
dtypes: int64(27), object(13)
memory usage: 72.7+ MB
None

Index(['surname', 'firstname', 'middlename', 'gender_male', 'gender_female',
       'state', 'rural_settlement', 'urban_settlement', 'report_date',
       'report_year', 'age', 'date_of_birth', 'child_group', 'adult_group',
       'disease', 'cholera', 'diarrhoea', 'measles',
       'viral_haemmorrhaphic_fever', 'meningitis', 'ebola', 'marburg_virus',
       'yellow_fever', 'rubella_mars', 'malaria', 'serotype', 'NmA', 'NmC',
       'NmW', 'health_status', 'alive', 'dead', 'report_outcome',
       'unconfirmed', 'confirmed', 'null_serotype'],
      dtype='object')

# The Data

[Nigerian Disease Outbreaks](https://www.kaggle.com/eiodelami/disease-outbreaks-in-nigeria-datasets)

While at first glance there appear to be no nulls, it is apparent in the data that null values have been filled with the word 'Null' and the date '0000-00-00. I'll go through and replace each of these cells with NaNs. Additionally, I'll convert all strings to lowercase to ensure I don't have multiple variables for the same values.

After these changes, I've used df.info and df.value_counts to ensure that all variables are sound - there are no repeats of strings due to mispellings or null values. Columns report_date, date_of_birth, and serotype are missing values. Additioally, serotype has one entry of 'null serotype'. I will decide how to handle these as I move along.

In [61]:
outbreaks.report_date.dtype

dtype('O')

In [62]:
# replacing all 'Null' values and '0000-00-00' with NaNs
outbreaks = outbreaks.applymap(lambda x: np.nan if x=='Null' else x)
outbreaks = outbreaks.applymap(lambda x: np.nan if x=='0000-00-00' else x)

# making all strings lowercase 
outbreaks = outbreaks.applymap(lambda x: x.lower() if type(x) == str  else x)

pd.options.display.max_columns = None
outbreaks.head(30)

,surname,firstname,middlename,gender_male,gender_female,state,rural_settlement,urban_settlement,report_date,report_year,age,date_of_birth,child_group,adult_group,disease,cholera,diarrhoea,measles,viral_haemmorrhaphic_fever,meningitis,ebola,marburg_virus,yellow_fever,rubella_mars,malaria,serotype,NmA,NmC,NmW,health_status,alive,dead,report_outcome,unconfirmed,confirmed,null_serotype
0,solade,grace,solape,0,1,rivers,1,0,5/15/2018,2018,32,1/17/1986,0,1,cholera,1,0,0,0,0,0,0,0,0,0,null serotype,0,0,0,alive,1,0,confirmed,0,1,1
1,eneche,kure,balogun,1,0,ebonyi,1,0,2/28/2017,2017,32,9/1/1985,0,1,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1
2,sanusi,adaugo,katerine,0,1,ogun,0,1,3/2/2012,2012,24,5/1/1988,0,1,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,dead,0,1,not confirmed,1,0,1
3,sowore,mooslemat,ifedayo,0,1,ondo,1,0,5/21/2010,2010,63,5/24/1947,0,1,measles,0,0,1,0,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
4,abdusalam,yusuf,okafor,1,0,oyo,0,1,8/28/2017,2017,9,1/7/2008,1,0,rubella mars,0,0,0,0,0,0,0,0,1,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1
5,yakubu,janet,chioma,0,1,kaduna,1,0,6/27/2012,2012,44,6/6/1968,0,1,ebola,0,0,0,0,0,1,0,0,0,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1
6,razak,adaugo,adaobi,0,1,taraba,1,0,4/1/2010,2010,61,7/19/1949,0,1,yellow fever,0,0,0,0,0,0,0,1,0,0,NaN,0,0,1,alive,1,0,confirmed,0,1,1
7,annakyi,danmbazzu,osagie,1,0,katsina,1,0,10/4/2015,2015,2,12/18/2014,1,0,diarrhoea,0,1,0,0,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
8,adejoro,iyin,osatimehin,1,0,katsina,1,0,11/14/2011,2011,54,8/5/1957,0,1,rubella mars,0,0,0,0,0,0,0,0,1,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1
9,okorie,adaugo,chika,0,1,osun,0,1,6/17/2014,2014,15,10/19/1999,1,0,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1
10,muhammadu,adijah,cathrine,0,1,niger,0,1,5/12/2015,2015,17,6/7/1998,1,0,cholera,1,0,0,0,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
11,okerewke,kure,osahon,1,0,cross river,1,0,9/28/2012,2012,50,2/4/1962,0,1,diarrhoea,0,1,0,0,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
12,folawiyo,christopher,atiku,1,0,adamawa,0,1,3/1/2012,2012,4,9/10/2008,1,0,measles,0,0,1,0,0,0,0,0,0,0,NaN,0,0,1,dead,0,1,confirmed,0,1,1
13,soyinka,kure,akindele,1,0,nasarawa,1,0,11/19/2016,2016,3,5/12/2013,1,0,ebola,0,0,0,0,0,1,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
14,ayokumbi,yetunde,atinuke,0,1,ebonyi,0,1,12/16/2011,2011,59,4/7/1952,0,1,meningitis,0,0,0,0,1,0,0,0,0,0,neisseria meningitidis group a (nma),1,0,0,dead,0,1,not confirmed,1,0,0
15,jesufemi,fausiat,tofunmi,0,1,imo,0,1,8/23/2012,2012,2,6/21/2015,1,0,meningitis,0,0,0,0,1,0,0,0,0,0,neisseria meningitidis group w (nmw),0,0,1,alive,1,0,not confirmed,1,0,0
16,oni,kagara,okoro,1,0,ebonyi,0,1,9/7/2015,2015,49,3/9/1966,0,1,meningitis,0,0,0,0,1,0,0,0,0,0,neisseria meningitidis group w (nmw),0,0,1,dead,0,1,not confirmed,1,0,0
17,abiona,benedict,osahon,1,0,abia,0,1,6/12/2011,2011,48,9/21/1963,0,1,meningitis,0,0,0,0,1,0,0,0,0,0,neisseria meningitidis group a (nma),1,0,0,dead,0,1,not confirmed,1,0,0
18,udoh,benedicta,funmi,0,1,niger,0,1,3/9/2010,2010,30,5/15/1980,0,1,cholera,1,0,0,0,0,0,0,0,0,0,NaN,0,0,1,dead,0,1,confirmed,0,1,1
19,buhari,janet,orieskwe,0,1,adamawa,1,0,9/23/2017,2017,39,7/21/1978,0,1,malaria,0,0,0,0,0,0,0,0,0,1,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
20,olalekan,carol,sola,0,1,yobe,1,0,5/14/2010,2010,50,5/25/1960,0,1,rubella mars,0,0,0,0,0,0,0,0,1,0,NaN,0,0,1,dead,0,1,confirmed,1,0,1
21,eleojo,adaugo,aderemi,0,1,rivers,0,1,2/13/2011,2011,14,6/2/1997,1,0,malaria,0,0,0,0,0,0,0,0,0,1,NaN,0,0,1,alive,1,0,confirmed,0,1,1
22,jesudara,grace,sade,0,1,delta,1,0,8/3/2016,2016,41,5/27/1975,0,1,measles,0,0,1,0,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,confirmed,0,1,1
23,bayeero,areoye,adesina,1,0,ogun,1,0,NaN,2009,59,1/15/1950,0,1,diarrhoea,0,1,0,0,0,0,0,0,0,0,NaN,0,0,1,dead,0,1,confirmed,0,1,1
24,chatta,deborah,odekunmi,0,1,jigawa,1,0,12/14/2018,2018,45,10/5/1973,0,1,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,dead,0,1,confirmed,1,0,1
25,chukwudi,sola,akinyemi,1,0,borno,1,0,3/23/2018,2018,5,12/21/2013,1,0,viral haemmorrhaphic fever,0,0,0,1,0,0,0,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
26,kande,adaugo,peace,0,1,adamawa,0,1,11/17/2018,2018,72,7/2/1946,0,1,yellow fever,0,0,0,0,0,0,0,1,0,0,NaN,0,0,1,alive,1,0,confirmed,0,1,1
27,egar,jane,sade,0,1,kwara,0,1,8/6/2016,2016,7,8/20/2009,1,0,viral haemmorrhaphic fever,0,0,0,1,0,0,0,0,0,0,NaN,0,0,1,dead,0,1,confirmed,1,0,1
28,salaudeen,sola,akinremi,1,0,cross river,0,1,2/19/2015,2015,16,7/31/1999,1,0,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,alive,1,0,not confirmed,1,0,1
29,isa,caroline,solabomi,0,1,yobe,0,1,11/11/2014,2014,7,4/19/2018,1,0,marburg virus,0,0,0,0,0,0,1,0,0,0,NaN,0,0,1,alive,1,0,confirmed,1,0,1

In [63]:
outbreaks.info()

for column in outbreaks.columns:
    print(column, '\n \n')
    print(outbreaks[column].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284484 entries, 0 to 284483
Data columns (total 36 columns):
surname                       284484 non-null object
firstname                     284484 non-null object
middlename                    284484 non-null object
gender_male                   284484 non-null int64
gender_female                 284484 non-null int64
state                         284484 non-null object
rural_settlement              284484 non-null int64
urban_settlement              284484 non-null int64
report_date                   283112 non-null object
report_year                   284484 non-null int64
age                           284484 non-null int64
date_of_birth                 279426 non-null object
child_group                   284484 non-null int64
adult_group                   284484 non-null int64
disease                       284484 non-null object
cholera                       284484 non-null int64
diarrhoea                     284484 non-null int64
measles                       284484 non-null int64
viral_haemmorrhaphic_fever    284484 non-null int64
meningitis                    284484 non-null int64
ebola                         284484 non-null int64
marburg_virus                 284484 non-null int64
yellow_fever                  284484 non-null int64
rubella_mars                  284484 non-null int64
malaria                       284484 non-null int64
serotype                      28363 non-null object
NmA                           284484 non-null int64
NmC                           284484 non-null int64
NmW                           284484 non-null int64
health_status                 284484 non-null object
alive                         284484 non-null int64
dead                          284484 non-null int64
report_outcome                284484 non-null object
unconfirmed                   284484 non-null int64
confirmed                     284484 non-null int64
null_serotype                 284484 non-null int64
dtypes: int64(26), object(10)
memory usage: 67.3+ MB
surname


omotsuyi      653
ademulegun    644
akenzua       631
lawrence      620
kumuyi        615
akala         614
yelwa         614
uzor-orji     614
dunsin        614
oni           612
umu           609
atere         607
adobayeero    606
adeboye       606
abiodun       606
okpala        605
igbonibi      605
pam           603
tinubu        602
falayo        600
kelvin        600
ohi           598
kande         597
el-rufai      597
ahmid         596
opeyemi       596
lami          595
adeseko       595
chidiebube    595
chidike       594
             ...
akinremi      524
danfodio      524
frank         523
babatunde     522
chidi         522
olasupo       521
kanu          521
ibuola        521
bashit        521
uthman        520
alhameed      520
anyawu        520
benedict      519
jubail        519
ahuta         519
ishaya        518
afolabi       517
abdulrazak    517
oothman       517
okparachi     516
bashir        512
ferdinand     511
clinton       511
osareme       509
yakub         507
rufai         507
aderemi       504
philemon      502
bankole       495
solade          1
Name: surname, Length: 509, dtype: int64
firstname


kutte          5229
mooslemat      5191
florence       5190
benedict       5173
ismail         5161
judah          5153
kausarat       5150
feranmi        5148
simbi          5145
mooslem        5142
areoye         5138
jude           5130
sola           5122
adijah         5121
christopher    5121
josephine      5120
mariam         5120
yetunde        5117
omowale        5114
carolina       5111
josephinah     5110
sade           5108
paulina        5108
danjuma        5101
joseph         5099
debby          5086
arole          5085
paul           5080
islamiat       5075
jane           5073
alexandria     5072
hallimat       5068
deborah        5064
kure           5064
christian      5063
alimat         5060
adaobi         5052
janet          5051
bala           5048
christianah    5048
danmbazzu      5048
grace          5044
yusuf          5040
fausiat        5039
benedicta      5039
alexander      5035
john           5016
iyin           5011
sunday         5000
carol          4999
israel         4987
adaugo         4984
dambatta       4980
caroline       4979
zainab         4948
kagara         4924
Name: firstname, dtype: int64
middlename


tofunmi       4906
victory       4891
chidebere     3358
olamide       3354
remi          3315
damilola      3306
taiwo         3305
kehinde       3298
subomi        3296
idowu         3289
hope          3284
chizoba       3281
victoria      3266
adetokubo     3261
akinremi      3251
osahon        3248
sola          3247
chika         3245
hassanath     3236
ife           3229
okafor        3227
chima         3217
favour        3213
aderemi       3192
ayo           3191
okoye         1761
ojukwu        1718
funmi         1702
chiamaka      1697
okpara        1695
              ...
balogun       1594
attah         1593
hillary       1592
akintola      1587
tinubu        1586
okonkwo       1583
mercy         1582
akpabio       1580
atinuke       1578
faruq         1576
yohanna       1576
obi           1574
patrick       1573
abiola        1571
adesina       1571
osagie        1569
emmanuel      1568
okorie        1568
igbinedion    1566
gbadamosi     1558
okoro         1557
roqeeb        1557
malomo        1552
adebanjo      1551
adegboyega    1551
victor        1547
odeyemi       1538
tanko         1525
bassey        1511
solape           1
Name: middlename, Length: 149, dtype: int64
gender_male


0    147272
1    137212
Name: gender_male, dtype: int64
gender_female


1    147272
0    137212
Name: gender_female, dtype: int64
state


niger                        7842
ondo                         7835
kano                         7822
bayelsa                      7797
imo                          7783
benue                        7776
kebbi                        7764
yobe                         7760
kaduna                       7754
ebonyi                       7747
nasarawa                     7728
kwara                        7726
osun                         7726
oyo                          7724
enugu                        7722
anambra                      7710
jigawa                       7704
abia                         7697
sokoto                       7691
adamawa                      7688
delta                        7678
bauchi                       7665
federal capital territory    7663
kogi                         7662
ogun                         7661
lagos                        7659
gombe                        7657
rivers                       7642
zamfara                      7632
akwa ibom                    7621
katsina                      7599
edo                          7596
borno                        7564
ekiti                        7560
taraba                       7560
plateau                      7545
cross river                  7524
Name: state, dtype: int64
rural_settlement


1    142563
0    141921
Name: rural_settlement, dtype: int64
urban_settlement


0    142563
1    141921
Name: urban_settlement, dtype: int64
report_date


12/9/2010     118
9/22/2011     109
5/25/2015     107
12/18/2010    106
9/19/2012     106
7/18/2009     106
10/4/2018     106
9/29/2011     105
8/6/2010      104
10/14/2012    104
9/14/2009     104
1/29/2017     103
5/13/2018     103
7/22/2010     103
5/10/2012     103
10/21/2017    102
3/8/2016      102
5/21/2011     102
2/23/2018     102
9/13/2015     102
1/14/2015     102
2/25/2009     102
11/9/2015     102
5/4/2013      101
10/10/2013    101
7/7/2013      101
12/14/2010    100
3/1/2012      100
1/10/2018     100
7/30/2013     100
             ...
8/7/2011       58
4/26/2014      58
8/8/2014       58
9/21/2010      57
7/25/2017      57
3/26/2018      57
1/28/2011      57
2/1/2015       57
6/7/2016       57
11/26/2011     56
5/27/2011      56
6/16/2018      56
3/10/2017      56
12/18/2011     56
7/13/2014      56
8/21/2018      55
7/23/2011      54
3/18/2016      54
8/25/2013      54
4/28/2012      54
4/30/2015      54
3/20/2011      54
10/26/2011     53
7/7/2012       53
11/10/2016     53
11/21/2009     52
7/24/2014      52
8/10/2011      52
4/1/2018       51
10/4/2010      49
Name: report_date, Length: 3652, dtype: int64
report_year


2013    28745
2016    28638
2010    28603
2017    28518
2012    28431
2018    28428
2014    28355
2009    28317
2015    28262
2011    28187
Name: report_year, dtype: int64
age


2     7492
3     6935
4     6628
5     6346
6     5735
7     5521
8     5089
9     4789
10    4388
1     4276
11    4030
12    3702
19    3693
49    3682
25    3678
66    3673
34    3669
26    3652
40    3644
60    3641
20    3641
14    3641
29    3636
36    3635
18    3622
17    3615
37    3613
21    3612
52    3599
50    3599
      ...
54    3534
43    3532
23    3531
35    3531
24    3529
55    3525
45    3519
30    3516
46    3513
42    3505
69    3495
67    3484
62    3472
51    3468
53    3467
68    3465
27    3449
28    3449
44    3447
56    3410
70    3274
71    2918
72    2526
73    2148
74    1730
75    1469
76    1057
77     749
78     362
0       77
Name: age, Length: 79, dtype: int64
date_of_birth


10/28/1991    24
9/10/1966     24
3/4/1980      23
7/15/2003     23
7/17/2019     22
10/31/1978    22
9/19/1978     22
9/5/2007      22
7/21/2012     22
11/27/1951    22
10/6/1947     22
11/9/1945     22
4/27/1988     22
10/2/2013     21
8/20/1976     21
5/25/1948     21
5/31/2012     21
2/26/1977     21
10/31/1953    21
10/13/1993    21
3/17/1990     21
10/22/1975    21
8/5/1978      21
11/24/2007    21
4/2/1972      21
12/7/1951     21
4/18/1976     21
4/4/1961      21
2/15/1966     21
6/4/1980      21
              ..
6/16/1980      2
4/6/1956       1
9/4/2005       1
8/21/1958      1
2/28/2015      1
10/3/2016      1
1/30/1994      1
7/7/1985       1
5/11/1997      1
12/2/2009      1
12/25/1978     1
12/8/1945      1
8/31/1971      1
11/6/1958      1
10/27/1972     1
12/5/1996      1
2/9/2003       1
1/28/1976      1
12/31/1952     1
5/29/2015      1
2/10/1997      1
6/10/1979      1
12/20/1952     1
9/16/2000      1
1/15/1979      1
10/29/1951     1
11/8/1945      1
11/18/1942     1
4/3/2019       1
1/30/1984      1
Name: date_of_birth, Length: 29218, dtype: int64
child_group


0    201498
1     82986
Name: child_group, dtype: int64
adult_group


1    201498
0     82986
Name: adult_group, dtype: int64
disease


cholera                       28589
diarrhoea                     28550
rubella mars                  28539
malaria                       28535
measles                       28471
marburg virus                 28430
yellow fever                  28428
viral haemmorrhaphic fever    28401
meningitis                    28362
ebola                         28179
Name: disease, dtype: int64
cholera


0    255895
1     28589
Name: cholera, dtype: int64
diarrhoea


0    255934
1     28550
Name: diarrhoea, dtype: int64
measles


0    256013
1     28471
Name: measles, dtype: int64
viral_haemmorrhaphic_fever


0    256083
1     28401
Name: viral_haemmorrhaphic_fever, dtype: int64
meningitis


0    256122
1     28362
Name: meningitis, dtype: int64
ebola


0    256305
1     28179
Name: ebola, dtype: int64
marburg_virus


0    256054
1     28430
Name: marburg_virus, dtype: int64
yellow_fever


0    256056
1     28428
Name: yellow_fever, dtype: int64
rubella_mars


0    255945
1     28539
Name: rubella_mars, dtype: int64
malaria


0    255949
1     28535
Name: malaria, dtype: int64
serotype


neisseria meningitidis group w (nmw)    14194
neisseria meningitidis group c (nmc)     7130
neisseria meningitidis group a (nma)     7038
null serotype                               1
Name: serotype, dtype: int64
NmA


0    277446
1      7038
Name: NmA, dtype: int64
NmC


0    277354
1      7130
Name: NmC, dtype: int64
NmW


1    270315
0     14169
Name: NmW, dtype: int64
health_status


dead     142289
alive    142195
Name: health_status, dtype: int64
alive


0    142289
1    142195
Name: alive, dtype: int64
dead


1    142289
0    142195
Name: dead, dtype: int64
report_outcome


not confirmed    142746
confirmed        141738
Name: report_outcome, dtype: int64
unconfirmed


1    213275
0     71209
Name: unconfirmed, dtype: int64
confirmed


0    213275
1     71209
Name: confirmed, dtype: int64
null_serotype


1    256122
0     28362
Name: null_serotype, dtype: int64

In [64]:
outbreaks.drop(columns=['serotype'], inplace=True)
outbreaks.dropna(inplace=True)
outbreaks.info()

KeyError: MemoryError()